.contact-wrapper {
  display: flex;
  height: 80vh;
  margin: 10vh 0;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.form {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 85%;
  max-height: 1000px;
  border: 2px solid var(--primary-clr1);
  gap: 25px;
}

.label {
  color: var(--primary-clr1);
}

.input {
  background: transparent;
  color: var(--primary-clr1);
  border: none;
  border-bottom: 2px solid var(--primary-clr1);
  padding: 20px 5px;
  margin: 20px;
}

.input:focus {
  border-bottom: none;
  border-radius: 10px;
  box-shadow: 3px 3px var(--primary-clr1);
}

.btn {
  position: relative;
  background-color: transparent;
  padding: 15px 0;
  color: whitesmoke;
  background: var(--primary-clr1);
  border: none;
  cursor: pointer;
  width: 100%;
  font-size: 1.2rem;
  font-weight: bolder;
  height: auto;
}

.btn:hover {
  border: 2px solid var(--primary-clr1);
}

@media screen and (min-width: 768px) {
  .form {
    width: 65%;
  }
}

@media screen and (min-width: 1200px) {
  .form {
    width: 45%;
  }
}
