.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  margin: 50px auto;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: transparent;
  width: 90%;
  padding-bottom: 5px;
  border-radius: 5px;
  margin: 20px 15px;
  height: auto;
  border: 2px solid var(--primary-clr1);
}

.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.card-image {
  position: relative;
  border-radius: 5px;
  width: 100%;
}

.card-image::after {
  content: "";
  background: var(--primary-clr1);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.5;
  width: 100%;
  height: 100%;
  transition: 0.3s linear;
}

.card:hover .card-image::after {
  transition: 0.5s linear;
  opacity: 0;
}

.card-info {
  padding: 15px 15px 30px 15px;
  overflow: auto;
  color: whitesmoke;
}

.skill {
  background: transparent;
  color: var(--primary-clr2);
  padding: 5px 10px;
  margin: 15px 5px;
  border-radius: 5px;
  font-size: 1.2rem;
  border: 2px solid var(--primary-clr1);
}

.skills {
  position: relative;
  margin-left: 10px;
}

.project-number {
  color: var(--primary-clr1);
  margin: 8px 0px 0px 15px;
  font-size: 1.3rem;
}

.link {
  font-size: 2rem;
  color: var(--primary-clr1);
  margin: 0 5px;
}

.link:hover {
  color: #ffffff;
}

.links {
  margin: 15px 10px 0 10px;
}

@media screen and (min-width: 576px) {
  .card {
    max-width: 500px;
  }
}

@media screen and (min-width: 768px) {
  .cards {
    flex-direction: row;
  }
}
