.services {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  padding: 100px 0;
}

.info:hover {
  background-color: #2caeba;
  color: #bff8fd;
  transition: linear 0.3s;
}

.info:hover .underline {
  background-color: #bff8fd;
  transition: linear 0.3s;
}
.info:hover .title {
  color: #bff8fd;
  transition: linear 0.3s;
}

.info {
  display: flex;
  background: none;
  border-radius: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  padding: 30px 10px;
  gap: 20px;
  min-width: 30%;

  max-height: 300px;
}

.text {
  margin: 10px;
  word-wrap: break-word;
  text-align: center;
  overflow-wrap: break-word;
}

.underline {
  width: 80px;
  height: 2px;
  background-color: #2caeba;
  border: none;
  box-shadow: none;
  margin-top: -10px;
}

@media screen and (min-width: 768px) {
  .services-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* gap: 30px;
    margin: 0 50px; */
  }

  .info {
    max-width: 40%;
  }
}
