.title {
  display: flex;
  align-items: center;
  position: relative;
  letter-spacing: 1;
  font-size: 2rem;
  display: block;
  padding: 10;
  margin: auto 0;
  color: #f5f5f5;
  text-align: center;
  justify-content: center;
}

.line {
  width: 100px;
  height: 2px;
  margin: auto;
  margin-bottom: 15px;
}
